<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	
	<th:block layout:fragment="customTitle">
		<title>상품 등록</title>
	</th:block>
	<th:block layout:fragment="customContents">
		<form th:action="@{/addGoods}" method="post">
		<table border="1">
			<tr>
				<td style="text-align: center;" colspan="2"><h1>상품 등록</h1></td>
			</tr>
			<!-- <tr>
				<td>상품코드</td>
				<td><input type="text" name="goodsCode"></td>
			</tr> -->
			<tr>
				<td>상품이름</td>
				<td><input type="text" name="goodsName"></td>
			</tr>
	
			<tr>
				<td>가격</td>
				<td><input type="text" name="goodsPrice"></td>
			</tr>
			<tr th:if="${session.SLEVEL == '판매자' }">
				<td>판매자아이디</td>
				<td><input type="text" name="goodsSellerId" th:value="${session.SID}" readonly="readonly"></td>
			</tr>
			<tr th:if="${session.SLEVEL == '관리자' }">
				<td>판매자아이디</td>
				<td>
					<select style="width: 100%" name="goodsSellerId">
						<th:block th:if="${#lists.size(sellerIdList) > 0}" th:each="si : ${sellerIdList}" >
							<option th:value="${si.memberId}" th:text="${si.memberId}"></option>
						</th:block>
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<button type="submit">가입</button>	
					<button type="button">취소</button>
				</td>
			</tr>
		</table>
	</form>
	</th:block>

	
	<th:block layout:fragment="customScript"></th:block>
	<th:block layout:fragment="customJs"></th:block>

</html>